<h1> TACO DEFECATORS, UNITE! </h1>
<div class="grid_12 center">
  <img src="http://i.kinja-img.com/gawker-media/image/upload/s--F5lzmFHh--/ltvok29jwjkofad471q5.gif" />

  <p class="white-text"> Redirecting you to Taco Bell's Website </p>
</div>

<script>
  setTimeout(function(){
    window.location = "https://breakfastdefectors.com";
  }, 6000)
</script>
