<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <title>BREAKFAST DEFECATORS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/vendor/css/normalize.css" rel="stylesheet">
  <link href="/vendor/css/base.css" rel="stylesheet">
  <link href="/vendor/css/grid.css" rel="stylesheet">
  <link href="/vendor/css/style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Teko:400,600,700' rel='stylesheet' type='text/css'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <%= yield %>


  </div>


  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="/vendor/js/modernizr-2.6.2.min.js"></script>

</body>
</html>
